# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# eslint
.eslintcache

# ide
.idea/
.vscode/

# jest
coverage/

# typescript
*.tsbuildinfo

# yarn
.pnp.js
.yarn/build-state.yml
.yarn/cache/
.yarn/unplugged/
package-lock.json
node_modules/
yarn-debug.log
yarn-error.log
yarn.lock

# artifacts
*.d.ts
*.js
*.tgz
build/

# system
.DS_Store
