name: branch
on:
  pull_request:
    branches:
      - master
jobs:
  test:
    name: Test on node ${{matrix.node}} and ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node:
          - 12
          - 14
          - 16
          - 17
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # awaiting https://github.com/facebook/jest/issues/11271
          fetch-depth: 0
      - uses: actions/setup-node@v2.4.1
        with:
          node-version: ${{matrix.node}}
      # awaiting https://github.com/actions/checkout/pull/155
      - run: git -c protocol.version=2 fetch --no-recurse-submodules --no-tags --progress --prune origin ${{github.event.pull_request.base.ref}}:${{github.event.pull_request.base.ref}}
      - run: yarn install
      - run: yarn compile
      - run: yarn test:pull-request
      - run: yarn lint:diff
      - run: yarn format:diff --branch --check
    timeout-minutes: 15
